﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="preloader">
    <div class="loading">
        <h2>
            Loading...
        </h2>
        <span class="progress"></span>
    </div>
</div>
<div class="wrapper">
    <ul class="scene unselectable" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15" id="scene">
        <li class="layer" data-depth="0.00">
        </li>
        <!-- BG -->
        <li class="layer" data-depth="0.10">
            <div class="background">
            </div>
        </li>
        <!-- Hero -->
        <li class="layer" data-depth="0.20">
            <div class="title" style="font-weight:bold;">
                <h2>
                    FALTAM
                </h2>
                <span class="line" skyle="color:white;"></span>
            </div>
        </li>

        <li class="layer" data-depth="0.30">
            <div class="hero">
                <h1 id="countdown">
                    PARA O EJPM 2019!
                </h1>
                <p class="sub-title" style="font-weight:bold;">
                    PARA O EJPM 2019!
                </p>
                <br />
                <br />
                <p class="sub-title" style="font-weight:bold;">
                    #EJPM2019 #AvengersUltimato #IsComing
                </p>
            </div>
        </li>
        <!-- Flakes -->
        <li class="layer" data-depth="0.40">
            <div class="depth-1 flake1">
                <img alt="flake" src="images/flakes/depth1/flakes1.png">
            </div>
            <div class="depth-1 flake2">
                <img alt="flake" src="images/flakes/depth1/flakes2.png">
            </div>
            <div class="depth-1 flake3">
                <img alt="flake" src="images/flakes/depth1/flakes3.png">
            </div>
            <div class="depth-1 flake4">
                <img alt="flake" src="images/flakes/depth1/flakes4.png">
            </div>
        </li>
        <li class="layer" data-depth="0.50">
            <div class="depth-2 flake2">
                <img alt="flake" src="images/flakes/depth2/flakes2.png">
            </div>
        </li>
        <li class="layer" data-depth="0.60">
            <div class="depth-3 flake1">
                <img alt="flake" src="images/flakes/depth3/flakes1.png">
            </div>
            <div class="depth-3 flake2">
                <img alt="flake" src="images/flakes/depth3/flakes2.png">
            </div>
            <div class="depth-3 flake3">
                <img alt="flake" src="images/flakes/depth3/flakes3.png">
            </div>
            <div class="depth-3 flake4">
                <img alt="flake" src="images/flakes/depth3/flakes4.png">
            </div>
        </li>
        <!-- Contact -->

    </ul>
</div>